.container_card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 100vh;

}

.card {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    background-color: white;
    transition: 0.3s;
    width: calc(50% - 80px); /* 50% da largura menos margem */
    max-width: 400px; /* Largura máxima de 300px */
    cursor: pointer;
}
.container_header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.card h2 {
    margin-top: 0;
}

.card p {
    margin: 5px 0;
}

.container_card_card{
    margin-bottom: 100px;
}

@media screen and (max-width: 600px) {
    .card {
        width: calc(100% - 50px);
    }
    .container_card{
        align-items: center;
        justify-content: center;
        
        margin-bottom: 100px;
    }
    .container_card_card{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 2em ;
    }
   


    
}