Formulario.css

.container {
  display: flex;
  justify-content: center;
  max-width: 600px;
  color: rgb(91, 24, 153);;;
  margin: 0 auto;
  padding: 20px;
}
.container-logo{
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h2{
  color: rgb(91, 24, 153);;
}
label{
  display: block;
  margin-bottom: 5px;
  font-size: 12;
}
.logo{
    
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(91, 24, 153);
  width: 100px;
  height: 50px;
  
  margin: 0px;
}

h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

label {
  display: block;
  margin-bottom: 5px;
}
button{
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  width: 100%;
  margin-top: 10px;

}
input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form{
  width: 60%;
  background-color: rgb(240, 239, 239);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  margin: auto;
  border-color: 2px solid black;
  padding: 20px;

}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Responsivo */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }
  .logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    color: rgb(91, 24, 153);
    height: 100vh;
    align-items: center;
    width: 10px;
    margin: 0px;
  }
}


@media screen and (max-width: 450px){
  .select{
    display: block;
    flex-direction: column;
    justify-content: center;
    font-size: 12;
  }
  label {
    display: block;
    margin-bottom: 5px;
  }
  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }

  
 label{
    display: block;
    margin-bottom: 5px;
    font-size: 12;
 }

  .logo{
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(91, 24, 153);
    width: 100px;
    height: 60px;
    
    margin: 0px;
  }
  .container-logo{
    display: flex;
   
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container {
    display: flex;
    flex-direction: column;
   
    padding: 10px;
    color: rgb(91, 24, 153);;
    height: 100vh;
    align-items: center;

    margin: 0px;
  }
  h2 {
    font-size: 1.8rem;
    color: rgb(91, 24, 153);;
  }
  input,
  textarea {
    padding: 10px;
    border: 1px solid #ccc;
  }
  button {
    padding: 5px;
  }
  form {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    border-color: 2px solid black;
  
  }

  
}

@media screen and (max-width: 300px) {
  h2 {
    font-size: 1.2rem;
  }

}