:root {
  --cor-azul-escuro: #002147; /* Azul  escuro*/
  --cor-azul-claro: #024089; /* Azul claro */
  --cor-laranja: #FF6D1D; /* Laranja*/
  --cor-amarelho: #FFA617; /* Amarelo */
  --cor-cinza: #E6E6E6; /* Cinza */
  --cor-branco: #FFFFFF; /* Branco */
  --cor-preto: #000000; /* Preto */
}

body{
  margin: 0;
  padding: 0;
  font-family: Quicksand, sans-serif;
  width: 100%;
}
.container-body{
  padding: 0;
  margin: 0;
  font-family: Quicksand, sans-serif;
}